[submodule "mobtest"]
	path = mobtest
	url = https://github.com/mobtest/renaissance.io.git
[submodule "kif"]
	path = kif
	url = https://github.com/puls/kif-renaissance.git
[submodule "GorillaLogic"]
	path = GorillaLogic
	url = https://github.com/saturnboy/renaissance.io.git
